@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  /* background: #151315; */
  background-image: url(../img/bg-full.png);
  text-decoration: none;
  overflow-x: hidden;
  letter-spacing: 0.05em;
  position: relative;
}

html, body {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, button {
  padding: 0;
  margin: 0;
}

p {
  line-height: 25px;
}

h1 {
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.02em;
}

h2 {
  font-family: inherit;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

ul, li {
  margin: 0;
}

button {
  color: #fff;
  font-family: Manrope;
  font-weight: 300;
  text-align: center;
  border-radius: 3px;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
  /*позиционирование по центру*/
  padding: 0 15px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 544px;
  }
}

@media screen and (max-width: 544px) {
  .container {
    max-width: 320px;
  }
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.title_big {
  font-size: 36px;
}

p {
  font-size: 24px;
  font-weight: 400;
}

header a {
  color: #fff;
}

.main ul, .main li {
  list-style-type: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*выравнивает в одну линию*/
  margin-left: auto;
  font-size: 18px;
}

.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  position: relative;
}

.menu li a:hover:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #FF44B4;
}

.menu li a.selected:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #FF44B4;
}

.menu li {
  margin-right: 55px;
  list-style-type: none;
}

@media screen and (max-width: 992px) {
  .menu__link {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .menu.responsive {
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff44b4), to(#6371ef));
    background: linear-gradient(180deg, #ff44b4, #6371ef);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 300px;
    height: 350px;
    z-index: 10000;
    padding-top: 60px;
  }
  .menu.responsive .menu__link {
    display: block;
    width: 100%;
    height: 30px;
    position: relative;
  }
  .menu.responsive .menu__link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #000;
  }
  .menu.responsive .icon {
    position: absolute;
    left: 90%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .menu.responsive .menu__link a:hover:before,
  .menu.responsive .icon:hover:before {
    content: '';
    background-color: inherit;
  }
}

.icon {
  display: none;
}

@media screen and (max-width: 992px) {
  .icon {
    display: block;
    font-size: 30px;
  }
}

.tel {
  text-decoration: none;
  margin: 0;
  padding-left: 25px;
  letter-spacing: 0.09em;
}

@media screen and (max-width: 1200px) {
  .tel {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.logo {
  padding-top: 50px;
  margin-left: 17px;
}

.img1 {
  margin: 0 auto;
  margin-left: 42px;
}

.info {
  background: url(../img/img1.png) no-repeat center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 755px;
}

@media screen and (max-width: 544px) {
  .info {
    height: 600px;
    margin-top: 30px;
  }
  .info h1 {
    font-size: 26px;
    font-weight: bold;
  }
}

.info-box {
  padding-bottom: 80px;
  margin-left: 50%;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .info-box {
    margin-left: 0;
    text-align: center;
  }
  .info-box .btn1 {
    margin: 0 auto;
  }
}

.info-box p {
  padding-bottom: 50px;
}

.info-box h1 {
  padding-bottom: 42px;
}

.brd {
  border: solid .1em #151616;
  background-color: transparent;
  outline: none;
  width: 200px;
  height: 67px;
}

.btn1 {
  position: relative;
  display: block;
  background: #6371EF;
  font-weight: 300;
  font-size: 24px;
  padding: 15px 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.btn1 a {
  text-decoration: none;
  color: #fff;
}

.btn1:hover {
  background: #0d155d;
}

.btn1:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #6371EF;
  border-radius: 5px;
  z-index: -1;
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 582px;
}

@media screen and (max-width: 1200px) {
  .sale {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 300px;
  }
}

@media screen and (max-width: 544px) {
  .sale {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .sale__text {
    width: 100%;
    text-align: center;
  }
  .sale__text .btn2 {
    margin: 0 auto;
  }
}

@media screen and (max-width: 544px) {
  .sale__text h2 {
    font-size: 30px;
  }
  .sale__text p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .sale__img_big {
    width: 45%;
    padding-bottom: 300px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 544px) {
  .sale__img_big {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .sale__img_big .hair1_brd {
    height: 100px;
    position: relative;
    top: -250px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 768px) {
  .sale__img_big {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 544px) {
  .sale__img_big img {
    width: 250px;
  }
  .sale__img_big .hair1_brd:before {
    content: '';
    border: none;
  }
}

@media screen and (max-width: 1200px) {
  .sale__img_small {
    width: 45%;
  }
}

@media screen and (max-width: 1200px) and (max-width: 768px) {
  .sale__img_small {
    display: none;
  }
}

.sale h2 {
  padding-bottom: 20px;
}

.sale p {
  padding-bottom: 29px;
}

.btn2 {
  position: relative;
  display: block;
  background: #FF44B4;
  font-weight: 500;
  font-size: 24px;
  padding: 15px 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  margin-left: auto;
}

.btn2:hover {
  background: #0d155d;
}

.btn2:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #FF44B4;
  border-radius: 5px;
  z-index: -1;
}

.hair1 {
  z-index: 100;
  position: relative;
  display: block;
  top: -200px;
}

.hair1_brd:before {
  content: '';
  width: 450px;
  height: 425px;
  border: 2px solid #FF44B4;
  top: 240px;
  left: 10px;
  display: block;
  border-radius: 5px;
  z-index: -1;
  position: relative;
}

.hair2 {
  z-index: 100;
  position: relative;
  display: block;
}

.hair2_brd:before {
  content: '';
  width: 288px;
  height: 287px;
  border: 2px solid #FF44B4;
  top: 278px;
  right: 10px;
  display: block;
  border-radius: 5px;
  z-index: -1;
  position: relative;
}

.pt {
  padding-top: 75px;
}

.why__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .why__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.why__card {
  width: 30%;
  border: 25px solid transparent;
  -o-border-image: linear-gradient(180deg, #ff44b4, #6371ef);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#ff44b4), to(#6371ef));
     border-image: linear-gradient(180deg, #ff44b4, #6371ef);
  border-image-slice: 1;
  padding: 42px calc(42px - 25px);
}

@media screen and (max-width: 992px) {
  .why__card {
    width: 100%;
    margin-bottom: 30px;
  }
}

.why__title {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}

.why__subtitle {
  font-size: 18px;
  font-weight: 300;
}

/*====================Slider====================*/
.slider__content {
  border: 25px solid transparent;
  -o-border-image: linear-gradient(180deg, #ff44b4, #6371ef);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#ff44b4), to(#6371ef));
     border-image: linear-gradient(180deg, #ff44b4, #6371ef);
  border-image-slice: 1;
}

.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__dots li button {
  border: none;
  background-color: #9A2F70;
  font-size: 25px;
  border-radius: 1000px;
  font-size: 0;
  width: 25px;
  height: 25px;
  margin: 0px 5px;
}

.slider__dots li button:hover {
  background-color: #FF44B4;
}

.slider__dots li button:active {
  border: 1px solid #000;
}

/*======================Contacts================*/
.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .contacts .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .contacts iframe {
    width: 500px;
  }
}

@media screen and (max-width: 544px) {
  .contacts iframe {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .contacts__wrapper {
    padding: 30px 0;
  }
}

.contacts__item {
  margin-top: 30px;
  margin-left: 50px;
}

.contacts__item.adress {
  margin-top: 0px;
  position: relative;
}

.contacts__item.work {
  position: relative;
}

.send__tel, .send__email {
  position: relative;
  /*margin-left: 	50px;*/
}

/*адресс*/
.contacts__item.adress:before {
  content: url("../img/map.svg");
  position: absolute;
  top: 0;
  left: -50px;
  width: 30px;
  height: 30px;
  /*background-color: #6371EF;*/
}

/*Режим*/
.contacts__item.work:before {
  content: url("../img/clock.svg");
  position: absolute;
  top: 0;
  left: -50px;
  width: 30px;
  height: 30px;
}

/*Телефон*/
.send__tel:before {
  content: url("../img/phone.svg");
  position: absolute;
  top: 0;
  left: -50px;
  width: 30px;
  height: 30px;
}

/*Мыло*/
.send__email:before {
  content: url("../img/mail.svg");
  position: absolute;
  top: 0;
  left: -50px;
  width: 30px;
  height: 30px;
}

.send__tel, .send__email {
  margin-top: 30px;
}

.contacts__item span {
  font-size: 24px;
  font-weight: 300;
}

.contacts__btn {
  margin-left: 465px;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
  display: block;
  background: #6371EF;
  font-weight: 300;
  font-size: 24px;
  padding: 15px 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

@media screen and (max-width: 992px) {
  .contacts__btn {
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media screen and (max-width: 544px) {
  .contacts__btn {
    padding: 15px 120px;
  }
}

.contacts__btn:hover {
  background: #0d155d;
}

/*Кнопку доделать!!!*/
.contacts__btn:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #FF44B4;
  border-radius: 5px;
  z-index: -10;
}

/*===================Footer=================*/
.footer {
  background-image: url("../img/Intersect_.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.footer__nav_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer__nav_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__nav-link {
  color: #fff;
  display: block;
  margin-top: 30px;
  margin-left: 130px;
  position: relative;
  text-decoration: none;
}

.footer__nav_row a:nth-child(1):before {
  content: url("../img/facebook.svg");
  position: absolute;
  top: 0;
  left: -50px;
}

.footer__nav_row a:nth-child(2):before {
  content: url("../img/vk.svg");
  position: absolute;
  top: 0;
  left: -50px;
}

.footer__nav_row a:nth-child(3):before {
  content: url("../img/inst.svg");
  position: absolute;
  top: 0;
  left: -50px;
}

.footer__nav_col a:nth-child(1):before {
  content: url("../img/phone.svg");
  position: absolute;
  top: 0;
  left: -50px;
}

.footer__nav_col a:nth-child(2):before {
  content: url("../img/mail.svg");
  position: absolute;
  top: 0;
  left: -50px;
}

/*.slick-dots {
	bottom: -100px;
	background-color: red;
}
.slider-dots li button{
	color: #fff !important	;
	background-color: #fff !important	;
	position: 	relative	;
	z-index: 	1000;	
} */
@media screen and (max-width: 544px) {
  .services .container {
    max-width: 380px;
  }
}

.services__info {
  background-color: #292629;
  padding: 50px 300px;
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .services__info {
    padding: 50px 250px;
  }
}

@media screen and (max-width: 992px) {
  .services__info {
    padding: 50px 150px;
  }
}

@media screen and (max-width: 768px) {
  .services__info {
    padding: 50px 50px;
  }
}

@media screen and (max-width: 544px) {
  .services__info {
    padding: 30px 30px;
  }
  .services__info p {
    font-size: 20px;
  }
}

.services__cards {
  padding-top: 50px;
}

.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .services__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 544px) {
  .services__card img {
    width: 100%;
  }
}

.services__card-img_blue {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .services__card-img_blue {
    margin: 0 auto;
  }
}

.services__card-img_blue:before {
  content: '';
  position: absolute;
  top: -20px;
  right: 20px;
  border: 1px solid #6371EF;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.services__card-img_pink {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .services__card-img_pink {
    margin: 0 auto;
  }
}

.services__card-img_pink:before {
  content: '';
  position: absolute;
  top: -20px;
  right: 20px;
  border: 1px solid #FF44B4;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.services__card-title {
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #151315), color-stop(27%, #6371ef));
  background: linear-gradient(90deg, #151315 30%, #6371ef 27%);
  padding: 5px 0px;
  text-align: center;
  text-transform: uppercase;
  text-align: right;
  padding-right: 25px;
}

.services__card-subtitle {
  border: 25px solid transparent;
  -o-border-image: linear-gradient(180deg, #6371ef, #ff44b4);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#6371ef), to(#ff44b4));
     border-image: linear-gradient(180deg, #6371ef, #ff44b4);
  border-image-slice: 1;
  min-height: 150px;
  padding: 30px 90px;
  font-size: 20px;
  list-style-type: disc;
}

@media screen and (max-width: 544px) {
  .services__card-subtitle {
    padding: 30px 30px;
  }
}

.services__card-subtitle li {
  list-style-type: disc;
}

.services__card-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .services__card-btn {
    bottom: -100px;
  }
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1200px) {
  .contact__social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
}

.contact__social-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border: 25px solid transparent;
  -o-border-image: linear-gradient(180deg, #ff44b4, #6371ef);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#ff44b4), to(#6371ef));
     border-image: linear-gradient(180deg, #ff44b4, #6371ef);
  border-image-slice: 1;
  padding: 100px 50px 200px 50px;
  position: relative;
  left: 25px;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .contact__social-text {
    padding: 70px 50px 100px 50px;
    left: 0;
  }
}

@media screen and (max-width: 544px) {
  .contact__social-text {
    padding: 15px;
    width: 300px;
  }
}

.contact__social img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 768px) {
  .contact__social img {
    width: 100%;
  }
}

.contact__social-subtitle {
  padding: 40px 0;
}

@media screen and (max-width: 544px) {
  .contact__social-subtitle {
    padding: 20px 0;
    font-size: 20px;
  }
}

.contact__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 544px) {
  .contact__social-link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact__social-link_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 50px;
}

.contact__social-link_item img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-right: 10px;
}

.contact__social-link_item a {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-decoration: none;
  color: #fff;
}

.contact__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .contact__adress {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact__adress-text {
  border: 25px solid transparent;
  -o-border-image: linear-gradient(180deg, #6371ef, #ff44b4);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#6371ef), to(#ff44b4));
     border-image: linear-gradient(180deg, #6371ef, #ff44b4);
  border-image-slice: 1;
  position: relative;
  left: -25px;
  z-index: -1;
  padding: 25px 50px 25px 50px;
}

@media screen and (max-width: 1200px) {
  .contact__adress-text {
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 544px) {
  .contact__adress-text {
    padding: 25px 5px 25px 5px;
  }
  .contact__adress-text p {
    font-size: 18px;
  }
}

.contact__adress-text img {
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  .contact__adress-img {
    width: 100%;
  }
}

.contact__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.contact__worktime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 30px;
}

.contact__worktime ul, .contact__worktime li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.contact__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact iframe {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 68px;
}

@media screen and (max-width: 1200px) {
  .contact iframe {
    width: 900px;
  }
}

@media screen and (max-width: 992px) {
  .contact iframe {
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .contact iframe {
    width: 500px;
  }
}

@media screen and (max-width: 544px) {
  .contact iframe {
    width: 300px;
    height: 500px;
  }
}

.contact__btn {
  width: 30%;
  margin: 90px auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact__btn {
    width: 40%;
  }
}

@media screen and (max-width: 544px) {
  .contact__btn {
    width: 50%;
  }
}

.course__card-title {
  text-align: right;
}

.about__offer {
  background-image: url(../img/about-offer.png);
  background-repeat: no-repeat;
  padding: 280px 500px 200px 500px;
}

@media screen and (max-width: 1200px) {
  .about__offer {
    padding: 200px 0px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .about__offer {
    padding: 150px 0;
  }
}

.about__offer h3 {
  width: 500px;
  padding-bottom: 11px;
}

@media screen and (max-width: 1200px) {
  .about__offer h3 {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 544px) {
  .about__offer h3 {
    font-size: 20px;
  }
}

.about__offer p {
  width: 400px;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  .about__offer p {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 544px) {
  .about__offer p {
    font-size: 16px;
    max-width: 310px;
  }
}

.about__component {
  margin: 40px 0;
}

.about__component img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about__component-text {
  padding: 100px 0px 100px 50px;
  position: relative;
  left: -25px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 1200px) {
  .about__component-text {
    left: 0;
  }
}

@media screen and (max-width: 544px) {
  .about__component-text {
    padding: 40px 0px 40px 10px;
  }
  .about__component-text p {
    font-size: 18px;
  }
}

.about__expirience-text {
  padding: 100px 50px;
  border: 25px solid transparent;
  -o-border-image: linear-gradient(180deg, #6371ef, #ff44b4);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#6371ef), to(#ff44b4));
     border-image: linear-gradient(180deg, #6371ef, #ff44b4);
  border-image-slice: 1;
}

@media screen and (max-width: 544px) {
  .about__expirience-text {
    padding: 40px 0px 40px 10px;
  }
  .about__expirience-text p {
    font-size: 18px;
  }
}

.about__plug {
  width: 100%;
  padding: 40px 0 70px 0;
}

.form {
  padding-top: 30px;
}

@media screen and (max-width: 544px) {
  .form .container {
    max-width: 400px;
  }
}

.form__title {
  font-size: 28px;
  text-align: center;
  background: #6371ef;
  width: 60%;
  margin: 0 auto;
  padding-top: 15px;
}

@media screen and (max-width: 992px) {
  .form__title {
    width: 80%;
  }
}

@media screen and (max-width: 544px) {
  .form__title {
    width: 100%;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  border: 25px solid transparent;
  -o-border-image: linear-gradient(180deg, #6371ef, #ff44b4);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#6371ef), to(#ff44b4));
     border-image: linear-gradient(180deg, #6371ef, #ff44b4);
  border-image-slice: 1;
  padding: 30px 40px;
}

@media screen and (max-width: 992px) {
  form {
    width: 80%;
  }
}

@media screen and (max-width: 544px) {
  form {
    width: 100%;
  }
}

form input, form select, form textarea {
  margin-bottom: 30px;
  background-color: #292629;
  border: none;
  padding: 15px;
}

form label {
  font-size: 24px;
}

form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 20px;
}

form input:-ms-input-placeholder {
  color: #fff;
  font-size: 20px;
}

form input::-ms-input-placeholder {
  color: #fff;
  font-size: 20px;
}

form input::placeholder {
  color: #fff;
  font-size: 20px;
}

form select, form select option, form textarea {
  color: #fff;
  font-size: 20px;
}
/*# sourceMappingURL=main.css.map */